@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  /* font-size: 1rem; */
}

:root {
  --color-bg: #1f1b1b;
  --color-bg-variant: #2a1f1c;
  /* --color-border: linear-gradient(to right, #b2432a, #010101); */
  
  --color-primary: #e06432;
  --color-primary-variant: #663522;

  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);
  /* --color-photo: #ecebed; */

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}



html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  border-width: 15px;
  border-style: solid;

  /* Create a linear gradient for the border color */
  border-image: linear-gradient(to left bottom, #b2432a, #010101);
  border-image-slice: 1; /* Ensure the entire border is covered by the gradient */

  /* Optional: Set a fallback color for browsers that don't support border-image */
  border-color: #e06432;
  /* box-shadow: 0 0 0 13px #333; */
  border-radius: calc(13px - 10px);
  font-family: "Poppins", sans-serif;
  background: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7;
  /* background-image: url(../src/assets/bg-texture.png); */
  border-radius: 3rem;

}

/* ============= GENEARL STYLES ============== */
.container {
  width: var(--container-width-1g);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

section {
  margin-top: 8rem;
}

section > h2,
section > h5 {
  text-align: center;
  color: var(--color-light);
}

section > h2 {
  color: var(--color-primary);
  margin-bottom: 3rem;
}

.text-light {
  color: var(--color-light);
}

a {
  color: var(--color-primary);
  transition: var(--transition);
}

a:hover {
  color: var(--color-white);
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 1rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-bg);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* ============= MEDIA QUERIES (MEDIUM DEVICES) =============== */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
  section {
    margin-top: 6rem;
  }
  body {
    border-width: 10px;
  }
}

/* ============= MEDIA QUERIES (SMALL DEVICES) =============== */
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }
  section > h2 {
    margin-bottom: 2rem;
  }
  body {
    border-width: 5px;
  }
}
