header {
  height: 85vh;
  /* padding-top: 2rem; */
  overflow: hidden;
  /* border: 1px solid red; */
  /* margin-top: 5rem; */
}
.header__container {
  /* border: 3px solid pink; */
  text-align: center;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 1rem;
}
/* ============ CTA ============ */
.cta {
  margin-top: 1rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

.btn{
  /* padding: 0.8rem; */
  gap: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-bg);
}

/* ============ HEADER SOCIALS ============ */

.header__socials {
  margin-top: 1rem;
  /* border: 2px solid red; */
  /* color: white; */
  /* background: white; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  /* position: absolute; */
  /* left: 0; */
  /* bottom: 3rem; */
}

.header__socials > a{
  color: var(--color-white);
  /* background-color: ; */
}

.header__socials > a:hover{
  color: var(--color-primary);
  /* background-color: ; */
}

.header__socials::after{
    /* content: '';
    width: 2rem;
    height: 1px;
    background: var(--color-primary); */
}

/* ============ ME ============ */

.me{
    background: linear-gradient(var(--color-primary-variant), transparent);
    width: 28rem;
    /* height: 30rem; */
    /* position: absolute; */
    left: calc(50% - 11rem);
    /* margin-top: 4rem; */
    /* border-radius: 12rem 12rem 12rem 12rem ; */
    border-radius: 50%;
    overflow: hidden;
    padding: 1rem;
    /* border: 1px solid red; */
}

.text-light{
  /* font-size: 1.5rem; */
  letter-spacing: .1rem;
}

.name__tag{
  font-size: 2.5rem;
}

.hello__tag{
  font-size: 1.2rem;
}

.me > img{
  width: 100%;
  border-radius: 50%;
}

.scroll__down{
    position: absolute;
    right: -2.2rem;
    /* bottom: 5rem; */
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/* ============= MEDIA QUERIES (MEDIUM DEVICES) =============== */

@media screen and (max-width: 1024px) {
    header {
        height: 75vh;  
    }
    .me {
      width: 23rem
    }
    .header__container {
      flex-direction: column-reverse;
      justify-content: space-evenly;
      /* padding-top: 1rem; */
    }
} 



/* ============= MEDIA QUERIES (MEDIUM DEVICES) =============== */

@media screen and (max-width: 600px) {
    header {
      height: 68vh;
    }
    .me {
      width: 14rem
    }
    .header__container {
      justify-content: space-evenly;
    }
    .header__socials {
      font-size: 1.7rem;
    }
  }